<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>HOspital_MAnage_SY</display-name>
  <servlet>
  	<servlet-name>IncomeController</servlet-name>
  	<display-name>IncomeController</display-name>
  	<description></description>
  	<servlet-class>com.controller.IncomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Register_Controller</servlet-name>
  	<display-name>Patient_Register_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Register_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Login_Controller</servlet-name>
  	<display-name>Patient_Login_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Login_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Update_Controller</servlet-name>
  	<display-name>Patient_Update_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Update_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_test_Controller</servlet-name>
  	<display-name>Patient_test_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_test_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_testForm_Controller</servlet-name>
  	<display-name>Patient_testForm_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_testForm_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Future_Controller</servlet-name>
  	<display-name>Patient_Future_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Future_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Feedback_Controller</servlet-name>
  	<display-name>Patient_Feedback_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Feedback_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_FeedbackForm_Controller</servlet-name>
  	<display-name>Patient_FeedbackForm_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_FeedbackForm_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Contact_Controller</servlet-name>
  	<display-name>Patient_Contact_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Contact_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Cancel_Controller</servlet-name>
  	<display-name>Patient_Cancel_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Cancel_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Cancel_Form_Controller</servlet-name>
  	<display-name>Patient_Cancel_Form_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Cancel_Form_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Book_Controller</servlet-name>
  	<display-name>Patient_Book_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Book_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Patient_Appointment_Controller</servlet-name>
  	<display-name>Patient_Appointment_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Patient_Appointment_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_Register_Controller</servlet-name>
  	<display-name>Doctor_Register_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_Register_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_Login_Controller</servlet-name>
  	<display-name>Doctor_Login_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_Login_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_Update_Controller</servlet-name>
  	<display-name>Doctor_Update_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_Update_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_test_Controller</servlet-name>
  	<display-name>Doctor_test_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_test_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_test_form_Controller</servlet-name>
  	<display-name>Doctor_test_form_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_test_form_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_futureYear_Controller</servlet-name>
  	<display-name>Doctor_futureYear_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_futureYear_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_futureMonth_Controller</servlet-name>
  	<display-name>Doctor_futureMonth_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_futureMonth_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_futureDate_Controller</servlet-name>
  	<display-name>Doctor_futureDate_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_futureDate_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_Feedback_Controller</servlet-name>
  	<display-name>Doctor_Feedback_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_Feedback_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Doctor_Enablefeedback_Controller</servlet-name>
  	<display-name>Doctor_Enablefeedback_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Doctor_Enablefeedback_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_Login_Controller</servlet-name>
  	<display-name>Admin_Login_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_Login_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_TodayApp_Controller</servlet-name>
  	<display-name>Admin_TodayApp_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_TodayApp_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_ListDoctor_Controller</servlet-name>
  	<display-name>Admin_ListDoctor_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_ListDoctor_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_income_Controller</servlet-name>
  	<display-name>Admin_income_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_income_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_incomeYear_Controller</servlet-name>
  	<display-name>Admin_incomeYear_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_incomeYear_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_incomeMonth_Controller</servlet-name>
  	<display-name>Admin_incomeMonth_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_incomeMonth_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_diagYear_Controller</servlet-name>
  	<display-name>Admin_diagYear_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_diagYear_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_diagMonth_Controller</servlet-name>
  	<display-name>Admin_diagMonth_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_diagMonth_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_Delete_Controller</servlet-name>
  	<display-name>Admin_Delete_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_Delete_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_DeleteDoctor_Controller</servlet-name>
  	<display-name>Admin_DeleteDoctor_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_DeleteDoctor_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_Auth_Controller</servlet-name>
  	<display-name>Admin_Auth_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_Auth_Controller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_AuthDoctor_Controller</servlet-name>
  	<display-name>Admin_AuthDoctor_Controller</display-name>
  	<description></description>
  	<servlet-class>com.controller.Admin_AuthDoctor_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IncomeController</servlet-name>
  	<url-pattern>/IncomeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Register_Controller</servlet-name>
  	<url-pattern>/Patient_Register_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Login_Controller</servlet-name>
  	<url-pattern>/Patient_Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Update_Controller</servlet-name>
  	<url-pattern>/Patient_Update_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_test_Controller</servlet-name>
  	<url-pattern>/Patient_test_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_testForm_Controller</servlet-name>
  	<url-pattern>/Patient_testForm_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Future_Controller</servlet-name>
  	<url-pattern>/Patient_Future_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Feedback_Controller</servlet-name>
  	<url-pattern>/Patient_Feedback_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_FeedbackForm_Controller</servlet-name>
  	<url-pattern>/Patient_FeedbackForm_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Contact_Controller</servlet-name>
  	<url-pattern>/Patient_Contact_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Cancel_Controller</servlet-name>
  	<url-pattern>/Patient_Cancel_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Cancel_Form_Controller</servlet-name>
  	<url-pattern>/Patient_Cancel_Form_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Book_Controller</servlet-name>
  	<url-pattern>/Patient_Book_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Patient_Appointment_Controller</servlet-name>
  	<url-pattern>/Patient_Appointment_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_Register_Controller</servlet-name>
  	<url-pattern>/Doctor_Register_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_Login_Controller</servlet-name>
  	<url-pattern>/Doctor_Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_Update_Controller</servlet-name>
  	<url-pattern>/Doctor_Update_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_test_Controller</servlet-name>
  	<url-pattern>/Doctor_test_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_test_form_Controller</servlet-name>
  	<url-pattern>/Doctor_test_form_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_futureYear_Controller</servlet-name>
  	<url-pattern>/Doctor_futureYear_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_futureMonth_Controller</servlet-name>
  	<url-pattern>/Doctor_futureMonth_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_futureDate_Controller</servlet-name>
  	<url-pattern>/Doctor_futureDate_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_Feedback_Controller</servlet-name>
  	<url-pattern>/Doctor_Feedback_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Doctor_Enablefeedback_Controller</servlet-name>
  	<url-pattern>/Doctor_Enablefeedback_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_Login_Controller</servlet-name>
  	<url-pattern>/Admin_Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_TodayApp_Controller</servlet-name>
  	<url-pattern>/Admin_TodayApp_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_ListDoctor_Controller</servlet-name>
  	<url-pattern>/Admin_ListDoctor_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_income_Controller</servlet-name>
  	<url-pattern>/Admin_income_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_incomeYear_Controller</servlet-name>
  	<url-pattern>/Admin_incomeYear_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_incomeMonth_Controller</servlet-name>
  	<url-pattern>/Admin_incomeMonth_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_diagYear_Controller</servlet-name>
  	<url-pattern>/Admin_diagYear_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_diagMonth_Controller</servlet-name>
  	<url-pattern>/Admin_diagMonth_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_Delete_Controller</servlet-name>
  	<url-pattern>/Admin_Delete_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_DeleteDoctor_Controller</servlet-name>
  	<url-pattern>/Admin_DeleteDoctor_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_Auth_Controller</servlet-name>
  	<url-pattern>/Admin_Auth_Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_AuthDoctor_Controller</servlet-name>
  	<url-pattern>/Admin_AuthDoctor_Controller</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>
